<%- include('../layouts/auth/head.ejs') %>

<main class="wrapper auth-wrapper">
  <h1>Login Page</h1>
  <% if(errors && errors?.name !== "Validation") {  %>
  <div style="margin-top: 1rem; margin-bottom: 1rem;">
    <%= errors?.message %>
  </div>
  <% } %>
  <form action="/auth" method="post">
    <div>
      <label for="">Email</label>
      <input type="text" name="email" placeholder="email" value="<%= values && values?.email || "" %>">
      <% if(errors && errors?.validation?.email) {  %>
      <small> <%= errors?.validation?.email?.message[0] %></small>
      <% } %>
    </div>

    <div>
      <label for="">Password</label>
      <input type="password" name="password" placeholder="Password" value="<%= values && values?.password || "" %>">
      <% if(errors && errors?.validation?.password) {  %>
      <small> <%= errors?.validation?.password?.message[0] %></small>
      <% } %>
    </div>
    <div>
      <button type="submit">Login</button> <a href="/auth/signup">Signup</a> <a href="/auth/google">Google</a></div>
  </form>
</main>



<%- include('../layouts/auth/footer.ejs') %>