<%- include('../layouts/head.ejs') %>

<%- include("../layouts/header.ejs") %>
<%- include("../layouts/sidebar.ejs") %>

<%- include("../includes/toast.ejs") %>

<div class="app-content content ">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper container-xxl p-0">
    <div class="content-header row">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <h2 class="content-header-title float-start mb-0"> <%= title %></h2>
            <div class="breadcrumb-wrapper">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Dashboard</a>
                </li>
                <li class="breadcrumb-item"><a href="/bank">Bank</a>
                </li>
                <li class="breadcrumb-item active"><%= title %>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <%- include("../includes/content-header.ejs")  %>
    </div>
    <div class="content-body">
      <div class="row">
        <% if(!bank) { %>
        <div class="col-12">
          <div class="alert alert-info" role="alert">
            <div class="alert-body">
              <strong>Info:</strong> Bank dengan ID "<%= params ? params : "" %>" tidak ditemukan
              ! <a class="text-info text-decoration-underline fw-light " href="/bank">Kembali ke Halaman
                Bank</a>
            </div>
          </div>
        </div>
        <% } %>


        <% if(bank) { %>
        <%
          let nameValue = bank.account_name
          let bankNameValue = bank.bank_name
          let noRekeningValue = bank.no_rekening

          if(errors && errors?.renderData?.values) {
            nameValues = errors?.renderData?.values?.name
            bankNameValue = errors?.renderData?.values?.bankName
            noRekeningValue = errors?.renderData?.values?.noRekening
          }

          %>
        <div class="col-12 col-md-8 col-lg-6">
          <div class="card">
            <div class="card-body">
              <form class="form form-vertical" action="/bank/<%= bank.bank_id %>" method="post">
                <input type="hidden" value="PUT" name="_method">
                <div class="row">
                  <div class="col-12">
                    <div class="mb-1">
                      <label class="form-label" for="name">Nama Pemilik</label>
                      <input type="text" id="name" class="form-control" name="name" placeholder="Name Koin"
                        value="<%= nameValue %>" />
                      <% if(errors && errors?.validation?.name) {  %>
                      <small class=" text-danger "> <%= errors?.validation?.name?.message[0] %></small>
                      <% } %>
                    </div>
                    <div class="mb-1">
                      <label class="form-label" for="bankName">Nama Bank</label>
                      <input type="text" id="bankName" class="form-control" name="bankName" placeholder="Bank"
                        value="<%= bankNameValue %>" />
                      <% if(errors && errors?.validation?.bankName) {  %>
                      <small class=" text-danger "> <%= errors?.validation?.bankName?.message[0] %></small>
                      <% } %>
                    </div>
                    <div class="mb-1">
                      <label class="form-label" for="noRekening">No Rekening</label>
                      <input type="text" id="noRekening" class="form-control" name="noRekening" placeholder="Harga"
                        value="<%= noRekeningValue %>" />
                      <% if(errors && errors?.validation?.noRekening) {  %>
                      <small class=" text-danger "> <%= errors?.validation?.noRekening?.message[0] %></small>
                      <% } %>
                    </div>
                  </div>
                  <div class="col-12 d-flex ">
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                      data-bs-target="#modalCancelCreate" data-bs-bank="<%= JSON.stringify(bank)  %>">Batalkan</button>

                    <button type="submit" class="btn btn-primary " style="margin-left: 8px;">Simpan</button>



                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <% } %>

      </div>

    </div>
  </div>
</div>
<!-- END: Content-->



<div class="modal fade modal-danger text-start" data-bs-backdrop="static" id="modalCancelCreate" tabindex="-1"
  aria-labelledby="modalCancelCreateLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-transparent ">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <div class=" pt-2 pb-2 px-2 d-flex flex-column align-items-center ">
          <h3 class="  mb-1">Anda yakin?</h3>
          <p class=" mb-2">Apakah anda ingin membatalkan dan menghapusnya?</p>

          <form action="/bank" id="formDeleteBank">

            <input type="hidden" name="_method" value="DELETE">
            <div class="d-flex gap-1">
              <a href="/bank" class="btn btn-outline-secondary">Tidak, biarkan saja</a>
              <button type="submit" class="btn btn-danger">Ya, batalkan dan hapus</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>


<%- include('../layouts/footer.ejs') %>

<script>
  const modalCancelCreate = document.getElementById('modalCancelCreate')
  modalCancelCreate.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    const button = event.relatedTarget
    const form = modalCancelCreate.querySelector("#formDeleteBank");

    const bankData = button.getAttribute('data-bs-bank')
    const {
      bank_id: bankId
    } = JSON.parse(bankData)
    form.setAttribute("action", "/bank/" + bankId)
    form.setAttribute("method", "post")


  })
</script>

<%- include('../layouts/end.ejs') %>