<section>
  <div class="row">

    <div class="col-12 col-md-12 ">
      <div class="card">
        <div class="card-header">
          <h6 class="mb-0">Data Transaksi</h6>

          <!-- <form action="/transaction" method="post">
            <button type="submit" class="btn btn-primary">
              <i data-feather="plus"></i> Buat Transaksi
            </button>
          </form> -->

        </div>
        <div class="card-body">
          <table id="transaction-datatable" class="datatables-basic table table-responsive">
            <thead>
              <tr>
                <th>#</th>
                <th class=" text-nowrap ">Player</th>
                <th>Game</th>
                <th class=" text-nowrap ">ID Game</th>
                <th>Date</th>
                <th>Total harga</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% let no = 1 %>
              <% transactions && transactions.forEach(ts => { %>
              <% const totalPrice = ts.value.toLocaleString("id", {
                  style: "currency",
                  currency: "IDR",
                }); %>
              <tr>
                <td><span class=" text-primary fw-bold "><%= ts.transaction_id  %></span></td>
                <td>
                  <div class="d-flex justify-content-left align-items-center">
                    <div class="avatar-wrapper">
                      <div class="avatar me-50"><img src="<%= ts?.player?.user?.avatar %>" alt="Avatar" width="32"
                          height="32"></div>
                    </div>
                    <div class="d-flex flex-column">
                      <h6 class="user-name text-truncate mb-0"><%= ts.name  %></h6><small
                        class="text-truncate text-muted"><%= ts?.history?.history_player?.email  %></small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex ">
                    <img height="80" src="<%= ts?.history?.history_voucher?.thumbnail %>"
                      alt="Thumbnail <%= ts?.history?.history_voucher?.game_name %>">
                    <div class="px-1 d-flex flex-column align-items-start  ">
                      <a class="text-white text-nowrap ">
                        <%= ts?.history?.history_voucher?.game_name %>
                      </a>
                      <div class=" text-primary text-nowrap " style="margin-top: 5px;">
                        Item : <%= ts?.history?.history_voucher?.coin_quantity %>
                        <%= ts?.history?.history_voucher?.coin_name %>
                      </div>
                      <div> <span class="badge badge-light-secondary " style="margin-top: 7px;">
                          <%= ts?.history?.history_voucher?.category %>
                        </span>
                      </div>


                    </div>
                  </div>
                </td>
                <td>
                  <%= ts.account_game  %>

                </td>
                <td class=" text-nowrap ">
                  <%= ts.created_at  %>
                <td> <%= totalPrice %></td>
                <td>
                  <% if(ts.status === 'pending' ) { %>
                  <span class="badge badge-light-warning">
                    <%= ts.status %>
                  </span>
                  <% } else if(ts.status === 'success' ) { %>
                  <span class="badge badge-light-success">
                    <%= ts.status %>
                  </span>
                  <% } else { %>
                  <span class="badge badge-light-danger">
                    <%= ts.status %>
                  </span>
                  <% } %>
                </td>
                <td data-order="false">
                  <div class="d-flex gap-1 align-items-center ">

                    <% if(ts.status === 'pending') { %>
                    <form action="/transaction/status/<%= ts.transaction_id %>" method="POST"
                      style="display: inline-block;">
                      <input type="hidden" name="status" value="failed">
                      <input type="hidden" name="_method" value="PUT">
                      <button class="btn btn-icon rounded-circle btn-flat-danger waves-effect  waves-light"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Tolak Transaksi">
                        <i data-feather='x-circle'></i>
                      </button>
                    </form>
                    <form action="/transaction/status/<%= ts.transaction_id %>" method="POST"
                      style="display: inline-block;">
                      <input type="hidden" name="status" value="success">
                      <input type="hidden" name="_method" value="PUT">
                      <button class="btn btn-icon rounded-circle btn-flat-success waves-effect" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Terima Transaksi">
                        <i data-feather='check-circle'></i>
                      </button>
                    </form>
                    <%  } %>


                    <!-- <div>
                      <a href="" class="btn btn-icon rounded-circle btn-flat-info waves-effect" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Detail Transaksi">
                        <i data-feather="info"></i>
                      </a>
                    </div>
                    <div>
                      <a href="" class="btn btn-icon rounded-circle btn-flat-primary waves-effect"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Transaksi">
                        <i data-feather="edit"></i>
                      </a>
                    </div> -->
                    <div class="dropdown">
                      <button type="button"
                        class="btn btn-icon rounded-circle btn-flat-primary waves-effect dropdown-toggle hide-arrow "
                        data-bs-toggle="dropdown">

                        <i data-feather='grid'></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="/transaction-info/<%= ts.transaction_id %>">
                          <i data-feather="info" class="me-50"></i>
                          <span>Invoice</span>
                        </a>
                        <a class="dropdown-item" href="/transaction-edit/<%= ts.transaction_id %>">
                          <i data-feather="edit-2" class="me-50"></i>
                          <span>Edit</span>
                        </a>

                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <%  }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</section>