<section>
  <div class="row">

    <div class="col-12 col-md-12 ">
      <div class="card">
        <div class="card-header">
          <h6 class="mb-0">Data Transaksi</h6>

          <!-- <form action="/transaction" method="post">
            <button type="submit" class="btn btn-primary">
              <i data-feather="plus"></i> Buat Transaksi
            </button>
          </form> -->

        </div>
        <div class="card-body">
          <table id="transaction-datatable" class="datatables-basic table table-responsive">
            <thead>
              <tr>
                <th>#</th>
                <th>Status</th>
                <th class=" text-nowrap ">Player</th>
                <th>Voucher</th>
                <th class=" text-nowrap ">ID Game</th>
                <th>Tgl</th>
                <th>Total harga</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% let no = 1 %>
              <% transactions && transactions.forEach(ts => { %>
              <% const totalPrice = ts.value.toLocaleString("id", {
                  style: "currency",
                  currency: "IDR",
                }); %>
              <tr>
                <td>
                  <a href="/invoice/<%= ts.transaction_id %>"
                    class=" text-primary fw-bold ">#<%= ts.transaction_id  %></a>
                </td>
                <td>
                  <div class="d-flex flex-column justify-content-start align-items-start gap-1 ">
                    <% if(ts.status === 'pending' ) { %>
                    <span class="badge badge-light-warning">
                      <i data-feather='activity'></i>
                      <%= ts.status %>
                    </span>
                    <% if(ts.is_paid) { %>
                    <span class="badge badge-light-success">
                      <i data-feather='check'></i>
                      paid
                    </span>
                    <% } else { %>
                    <span class="badge badge-light-secondary">
                      <i data-feather='alert-circle'></i>
                      not paid
                    </span>
                    <%  } %>
                    <% } else if(ts.status === 'success' ) { %>
                    <span class="badge badge-light-success">
                      <i data-feather='check-circle'></i>
                      <%= ts.status %>
                    </span>
                    <% } else { %>
                    <span class="badge badge-light-danger">
                      <i data-feather='x-circle'></i>
                      <%= ts.status %>
                    </span>
                    <% } %>

                  </div>
                </td>
                <td>
                  <div class="d-flex justify-content-left align-items-center">
                    <div class="avatar-wrapper">
                      <div class="avatar me-50"><img src="<%= ts?.player?.user?.avatar %>" alt="Avatar" width="32"
                          height="32"></div>
                    </div>
                    <div class="d-flex flex-column">
                      <a href="/users/<%= ts?.player?.user?.user_id %>" class="user_name text-truncate text-body">
                        <span class="fw-bolder"><%= ts?.player?.user.name %></span>
                      </a>
                      <small class="text-truncate text-muted"><%= ts?.history?.history_player?.email  %></small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex ">
                    <img height="80" src="<%= ts?.history?.history_voucher?.thumbnail %>"
                      alt="Thumbnail <%= ts?.history?.history_voucher?.game_name %>">
                    <div class="px-1 d-flex flex-column align-items-start  ">
                      <a class="text-white text-nowrap ">
                        <%= ts?.history?.history_voucher?.game_name %>
                      </a>
                      <div class=" text-primary text-nowrap " style="margin-top: 5px;">
                        Item : <%= ts?.history?.history_voucher?.coin_quantity %>
                        <%= ts?.history?.history_voucher?.coin_name %>
                      </div>
                      <div> <span class="badge badge-light-secondary " style="margin-top: 7px;">
                          <%= ts?.history?.history_voucher?.category %>
                        </span>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <%= ts.account_game  %>
                </td>
                <td class=" text-nowrap ">
                  <%= ts.created_at  %>
                <td> <%= totalPrice %></td>

                <td data-order="false">
                  <div class="d-flex col-actions align-items-center ">
                    <!-- <div>
                      <a href="" class="btn btn-icon rounded-circle btn-flat-info waves-effect" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Detail Transaksi">
                        <i data-feather="info"></i>
                      </a>
                    </div>
                    <div>
                      <a href="" class="btn btn-icon rounded-circle btn-flat-primary waves-effect"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Transaksi">
                        <i data-feather="edit"></i>
                      </a>
                    </div> -->
                    <div class="dropdown">
                      <button type="button"
                        class="btn btn-icon rounded-circle btn-flat-primary waves-effect dropdown-toggle hide-arrow "
                        data-bs-toggle="dropdown">
                        <i data-feather='more-vertical'></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-end">
                        <% if(ts.status === 'pending') { %>
                        <% if(ts.is_paid) { %>
                        <form action="/transaction/status/<%= ts.transaction_id %>" method="POST"
                          style="display: inline-block;">
                          <input type="hidden" name="status" value="success">
                          <input type="hidden" name="_method" value="PUT">
                          <button class="dropdown-item d-flex w-100 align-items-center">
                            <i data-feather='check-circle' class="me-75"></i>
                            Terima Transaksi
                          </button>
                        </form>
                        <% } else { %>
                        <form action="/transaction/status/<%= ts.transaction_id %>" method="POST"
                          style="display: inline-block;">
                          <input type="hidden" name="status" value="failed">
                          <input type="hidden" name="_method" value="PUT">
                          <button class="dropdown-item d-flex w-100 align-items-center">
                            <i data-feather='x-circle' class="me-75"></i>
                            Batalkan Transaksi
                          </button>
                        </form>
                        <% } %>

                        <%  } %>
                        <a class="dropdown-item" href="/invoice/<%= ts.transaction_id %>">
                          <i data-feather="file-text" class="me-50"></i>
                          <span>Invoice</span>
                        </a>
                        <a class="dropdown-item" href="/transaction-edit/<%= ts.transaction_id %>">
                          <i data-feather="edit-2" class="me-50"></i>
                          <span>Edit</span>
                        </a>

                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <%  }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</section>