<%- include('../layouts/head.ejs') %>

<%- include("../layouts/header.ejs") %>
<%- include("../layouts/sidebar.ejs") %>

<%- include("../includes/toast.ejs") %>

<div class="app-content content ">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper container-xxl p-0">
    <div class="content-header row">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <h2 class="content-header-title float-start mb-0"> <%= title %></h2>
            <div class="breadcrumb-wrapper">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Dashboard</a>
                </li>
                <li class="breadcrumb-item"><a href="/transaction">Transaksi</a>
                </li>
                <li class="breadcrumb-item active">Invoice
                </li>
                <li class="breadcrumb-item active"><%= invoice.transaction_id %>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
        <div class="mb-1 breadcrumb-right">
          <div class="dropdown">
            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="grid"></i></button>
            <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#"><i class="me-1"
                  data-feather="check-square"></i><span class="align-middle">Todo</span></a><a class="dropdown-item"
                href="#"><i class="me-1" data-feather="message-square"></i><span class="align-middle">Chat</span></a><a
                class="dropdown-item" href="#"><i class="me-1" data-feather="mail"></i><span
                  class="align-middle">Email</span></a><a class="dropdown-item" href="#"><i class="me-1"
                  data-feather="calendar"></i><span class="align-middle">Calendar</span></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">

      <section class="invoice-preview-wrapper">
        <div class="row invoice-preview">
          <!-- Invoice -->
          <div class="col-xl-9 col-md-8 col-12">
            <div class="card invoice-preview-card overflow-hidden ">
              <div class="card-body invoice-padding pb-0">
                <!-- Header starts -->
                <div class="d-flex justify-content-between flex-md-row flex-column invoice-spacing mt-0">
                  <div>
                    <div class="logo-wrapper ">
                      <img height="32" src="/images/logo-dark.svg" alt="">

                      <h3 class="text-primary invoice-logo">StoreGG</h3>
                    </div>
                    <p class="card-text mb-25">Pacific Century Place Tower Level 45 SCBD</p>
                    <p class="card-text mb-25">Jl. Jenderal Sudirman No.53, RW.3</p>
                    <p class="card-text mb-25">Senayan, Kec. Kby. Baru, Jakarta,
                      Indonesia </p>
                    <p class="card-text mb-0">+62 (021) 30422800</p>

                  </div>
                  <div class="mt-md-0 mt-2">
                    <h4 class="invoice-title">
                      INVOICE
                      <span class="invoice-number">#<%= invoice.transaction_id  %> </span>
                    </h4>
                    <div class="invoice-date-wrapper">
                      <p class="invoice-date-title">Date Issued:</p>
                      <p class="invoice-date"><%= invoice.created_at  %> </p>
                    </div>
                    <div class="invoice-date-wrapper">
                      <p class="invoice-date-title">Due Date:</p>
                      <p class="invoice-date"><%= invoice.due_date  %> </p>
                    </div>
                    <% if(invoice.status === "failed") { %>
                    <div class=" p-1 text-white rounded-0 invoice-canceled ">Canceled</div>
                    <% } %>
                  </div>
                </div>
                <!-- Header ends -->
              </div>

              <hr class="invoice-spacing" />

              <!-- Address and Contact starts -->
              <div class="card-body invoice-padding pt-0">
                <div class="row invoice-spacing">
                  <div class="col-xl-7 p-0">
                    <h6 class="mb-2">Invoice To:</h6>
                    <h6 class="mb-25"><%= invoice?.history?.history_player?.name  %> </h6>
                    <p class="card-text mb-25"><%= invoice?.history?.history_player?.phone_number  %> </p>
                    <p class="card-text mb-0"><%= invoice?.history?.history_player?.email  %> </p>
                  </div>
                  <div class="col-xl-5 p-0 mt-xl-0 mt-2">
                    <h6 class="mb-2">Payment Details:</h6>
                    <table>
                      <tbody>
                        <tr>
                          <td class="pe-1">Method :</td>
                          <td><%= invoice?.history?.history_payment?.type  %> </td>
                        </tr>

                        <% if(invoice.is_paid) { %>
                        <tr>
                          <td class="pe-1">Status :</td>
                          <td> Paid </td>
                        </tr>
                        <tr>
                          <td class="pe-1">Pay By :</td>
                          <td><%= invoice?.history?.history_payment?.payer?.bank_account_name  %> </td>
                        </tr>
                        <tr>
                          <td class="pe-1">Date :</td>
                          <td><%= invoice?.history?.history_payment?.payer?.pay_date  %> </td>
                        </tr>
                        <!-- <tr>
                          <td class="pe-1">Payer Bank Name:</td>
                          <td><%= invoice?.history?.history_payment?.payer?.bank_name  %> </td>
                        </tr>
                        <tr>
                          <td class="pe-1">Payer Account No :</td>
                          <td><%= invoice?.history?.history_payment?.payer?.no_bank_account  %> </td>
                        </tr> -->
                        <% } else { %>
                        <tr>
                          <td class="pe-1">Status :</td>
                          <td> Not Paid </td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- Address and Contact ends -->

              <!-- Invoice Description starts -->
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="py-1">Voucher description</th>
                      <th class="py-1">Account game</th>
                      <th class="py-1">Item</th>
                      <th class="py-1">Price</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr class="border-bottom">
                      <td class="py-1">
                        <p class="card-text text-white fw-bold mb-25">
                          <%= invoice?.history?.history_voucher?.game_name  %></p>
                        <p class="card-text text-nowrap">Category: <%= invoice?.history?.history_voucher?.category  %>
                        </p>
                      </td>
                      <td class="py-1">
                        <span class="fw-bold"><%= invoice.account_game  %> </span>
                      </td>
                      <td class="py-1 text-nowrap ">
                        <span class="fw-bold">
                          <%= invoice?.history?.history_voucher?.coin_quantity %>
                        </span>
                        <span class="fw-bold"> <%= invoice?.history?.history_voucher?.coin_name %></span>
                      </td>
                      <td class="py-1">
                        <span class="fw-bold"><%= invoice?.history?.history_voucher?.price %></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="card-body invoice-padding pb-0">
                <div class="row invoice-sales-total-wrapper">
                  <div class="col-md-5 order-md-1 order-2 mt-md-0 mt-3">
                    <h6 class="mb-1">Payment Intruction:</h6>
                    <table>
                      <tbody>
                        <tr>
                          <td class="pe-1">Make Payable To :</td>
                        </tr>
                        <tr>
                          <td class="  fw-bold"><%= invoice?.history?.history_payment?.bank_account_name  %> </td>
                        </tr>

                      </tbody>
                    </table>

                    <table class=" mt-1">
                      <tbody>
                        <tr>
                          <td class="pe-1">Bank Transfer :</td>
                        </tr>
                        <tr>
                          <td>
                            <div class=" fw-bold ">(<%= invoice?.history?.history_payment?.bank_name  %>)
                              <%= invoice?.history?.history_payment?.no_rekening  %></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- <p class="card-text mb-0">
                      <span class="fw-bold">Salesperson:</span> <span class="ms-75">Alfie Solomons</span>
                    </p> -->
                  </div>
                  <div class="col-md-7 d-flex justify-content-end order-md-2 order-1">
                    <div class="invoice-total-wrapper">
                      <div class="invoice-total-item">
                        <p class="invoice-total-title ">Subtotal:</p>
                        <p class="invoice-total-amount ms-1"><%= invoice?.subtotal %> </p>
                      </div>
                      <div class="invoice-total-item">
                        <p class="invoice-total-title">Discount:</p>
                        <p class="invoice-total-amount ms-1">Rp. 0</p>
                      </div>
                      <div class="invoice-total-item">
                        <p class="invoice-total-title">Tax (10%):</p>
                        <p class="invoice-total-amount"> <%= invoice.tax %> </p>
                      </div>
                      <hr class="my-50" />
                      <div class="invoice-total-item">
                        <p class="invoice-total-title">Total:</p>
                        <p class="invoice-total-amount ms-1"><%= invoice.value  %> </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Invoice Description ends -->

              <hr class="invoice-spacing" />

              <!-- Invoice Note starts -->
              <div class="card-body invoice-padding pt-0">
                <div class="row">
                  <div class="col-12">
                    <span class="fw-bold">Note:</span>
                    <span>If you have paid please contact the admin via Whatsapp!</span>
                  </div>
                </div>
              </div>
              <!-- Invoice Note ends -->
            </div>
          </div>
          <!-- /Invoice -->

          <!-- Invoice Actions -->
          <div class="col-xl-3 col-md-4 col-12 invoice-actions mt-md-0 mt-2">
            <div class="card">
              <div class="card-body">
                <button class="btn btn-primary w-100 mb-75" data-bs-toggle="modal"
                  data-bs-target="#send-invoice-sidebar">
                  Send Invoice
                </button>
                <button class="btn btn-outline-secondary w-100 btn-download-invoice mb-75">Download</button>
                <a class="btn btn-outline-secondary w-100 mb-75" href="/invoice/<%= invoice.transaction_id %>/print"
                  target="_blank"> Print
                </a>
                <!-- <a class="btn btn-outline-secondary w-100 mb-75" href="./app-invoice-edit.html"> Edit </a> -->
                <% if(invoice.status !== "failed") { %>
                <% if(!invoice.is_paid) { %>
                <button class="btn btn-success w-100" data-bs-toggle="modal" data-bs-target="#add-payment-sidebar">
                  Confirm Payment
                </button>
                <% } %>
                <% } %>
                <% if(invoice.status === "pending" && invoice.is_paid) { %>
                <button class="btn btn-success d-flex w-100 align-items-center justify-content-center "
                  data-bs-toggle="modal" data-bs-target="#confirmTransaction" style="font-size: 12px;">
                  Selesaikan Transaksi
                </button>
                <% } %>

              </div>
            </div>
          </div>
          <!-- /Invoice Actions -->
        </div>
      </section>

      <!-- Send Invoice Sidebar -->
      <div class="modal modal-slide-in fade" id="send-invoice-sidebar" aria-hidden="true">
        <div class="modal-dialog sidebar-lg">
          <div class="modal-content p-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            <div class="modal-header mb-1">
              <h5 class="modal-title">
                <span class="align-middle">Send Invoice</span>
              </h5>
            </div>
            <div class="modal-body flex-grow-1">
              <form>
                <div class="mb-1">
                  <label for="invoice-from" class="form-label">From</label>
                  <input type="text" class="form-control" id="invoice-from" value="shelbyComapny@email.com"
                    placeholder="company@email.com" />
                </div>
                <div class="mb-1">
                  <label for="invoice-to" class="form-label">To</label>
                  <input type="text" class="form-control" id="invoice-to" value="qConsolidated@email.com"
                    placeholder="company@email.com" />
                </div>
                <div class="mb-1">
                  <label for="invoice-subject" class="form-label">Subject</label>
                  <input type="text" class="form-control" id="invoice-subject"
                    value="Invoice of purchased Admin Templates" placeholder="Invoice regarding goods" />
                </div>
                <div class="mb-1">
                  <label for="invoice-message" class="form-label">Message</label>
                  <textarea class="form-control" name="invoice-message" id="invoice-message" cols="3" rows="11"
                    placeholder="Message...">
Dear Queen Consolidated,

Thank you for your business, always a pleasure to work with you!

We have generated a new invoice in the amount of $95.59

We would appreciate payment of this invoice by 05/11/2019</textarea>
                </div>
                <div class="mb-1">
                  <span class="badge badge-light-primary">
                    <i data-feather="link" class="me-25"></i>
                    <span class="align-middle">Invoice Attached</span>
                  </span>
                </div>
                <div class="mb-1 d-flex flex-wrap mt-2">
                  <button type="button" class="btn btn-primary me-1" data-bs-dismiss="modal">Send</button>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /Send Invoice Sidebar -->

      <!-- Add Payment Sidebar -->
      <div class="modal modal-slide-in fade" id="add-payment-sidebar" aria-hidden="true">
        <div class="modal-dialog sidebar-lg">
          <div class="modal-content p-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            <div class="modal-header mb-1">
              <h5 class="modal-title">
                <span class="align-middle">Confirm Payment</span>
              </h5>
            </div>
            <div class="modal-body flex-grow-1">
              <form action="/transaction/confirm-payment" method="post">
                <input type="hidden" name="_method" value="POST">
                <input type="hidden" name="transaction_id" value="<%= invoice.transaction_id  %>">
                <div class="mb-1">
                  <input id="balance" class="form-control" type="text" value="Invoice Balance: <%= invoice.value  %>"
                    disabled />
                </div>

                <div class="mb-1">
                  <label class="form-label" for="amount">Payment Amount</label>
                  <input id="amount" class="form-control" name="value" value="<%= invoice.value_num  %>" type="number"
                    placeholder="<%= invoice.value  %>" />
                </div>
                <div class="mb-1">
                  <label class="form-label" for="payment-date">Payment Date</label>
                  <input id="payment-date" class="form-control date-picker" name="pay_date" type="text" />
                </div>
                <div class="mb-1">
                  <label class="form-label" for="payment-method">Payment Method</label>
                  <!-- <select class="form-select" id="payment-method" name="payment_method">
                    <option value="" disabled>Select payment method</option>
                    <option>-- Pilih Metode</option>
                    <% for (let pay of payments) { %>
                    <% if (pay.payment_method_id === invoice?.payment_method_id) { %>
                    <option value="<%= pay.payment_method_id %>" selected><%= pay.type %></option>
                    <% } else {  %>
                    <option value="<%= pay.payment_method_id %>"><%= pay.type %></option>
                    <% } %>
                    <%  } %>
                  </select> -->
                  <input class="form-control " id="payment-method" name="payment_method" type="text"
                    value="<%= invoice?.history?.history_payment?.type  %>" readonly />
                </div>
                <div class="mb-1">
                  <label class="form-label" for="bank_account_name">Pay By*</label>
                  <input id="bank_account_name" name="bank_account_name" class="form-control" type="text"
                    placeholder="Payer name or Payer bank account name"
                    value="<%= invoice?.history?.history_player?.name  %>" />
                </div>
                <div class="mb-1">
                  <label class="form-label" for="bank_name">Bank Name (optional)</label>
                  <input id="bank_name" name="bank_name" class="form-control" type="text" placeholder="Bank Name" />
                </div>
                <div class="mb-1">
                  <label class="form-label" for="no_bank_account">No Account (optional)</label>
                  <input id="no_bank_account" name="no_bank_account" class="form-control" type="text"
                    placeholder="No account" />
                </div>
                <div class="mb-1">
                  <label class="form-label" for="payment_note">Internal Payment Note</label>
                  <textarea class="form-control" id="payment_note" name="payment_note" rows="5"
                    placeholder="Internal Payment Note"></textarea>
                </div>
                <div class="d-flex flex-wrap mb-0">
                  <button type="submit" class="btn btn-primary me-1">Send</button>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /Add Payment Sidebar -->



    </div>
  </div>
</div>
<!-- END: Content-->


<div class="modal fade modal-danger text-start" data-bs-backdrop="static" id="confirmTransaction" tabindex="-1"
  aria-labelledby="confirmTransactionLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-transparent ">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <div class=" pt-2 pb-2 px-2 d-flex flex-column align-items-center ">
          <h3 class=" mb-1">Anda yakin?</h3>
          <p class="mb-2">Apakah anda ingin menyelesaikan transaksi ini?</p>
          <form action="/transaction/status/<%= invoice.transaction_id %>" method="POST" style="display: inline-block;"
            class="w-100">
            <input type="hidden" name="status" value="success">
            <input type="hidden" name="_method" value="PUT">
            <div class=" d-flex justify-content-center ">
              <button type="button" class="btn btn-outline-secondary me-1" data-bs-dismiss="modal">Tidak,
                batalkan</button>
              <button type="submit" class="btn btn-success">Ya, konfirmasi</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

<%- include('../layouts/footer.ejs') %>

<script src="/js/pages/app-invoice.js"></script>

<%- include('../layouts/end.ejs') %>