<%- include('layouts/head.ejs') %>

<%- include("layouts/header.ejs") %>
<%- include("layouts/sidebar.ejs") %>

<div class="app-content content ">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper container-xxl p-0">
    <div class="content-header row">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <h2 class="content-header-title float-start mb-0"> <%= title %></h2>
            <div class="breadcrumb-wrapper">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active"><%= title %>
                </li>

              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
        <div class="mb-1 breadcrumb-right">
          <div class="dropdown">
            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="grid"></i></button>
            <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#"><i class="me-1"
                  data-feather="check-square"></i><span class="align-middle">Todo</span></a><a class="dropdown-item"
                href="#"><i class="me-1" data-feather="message-square"></i><span class="align-middle">Chat</span></a><a
                class="dropdown-item" href="#"><i class="me-1" data-feather="mail"></i><span
                  class="align-middle">Email</span></a><a class="dropdown-item" href="#"><i class="me-1"
                  data-feather="calendar"></i><span class="align-middle">Calendar</span></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">

      <!-- Stats Horizontal Card -->
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="card">
            <div class="card-header">
              <div>
                <h2 class="fw-bolder mb-0"><%= widgets.transaction %> </h2>
                <p class="card-text">Transaksi</p>
              </div>
              <div class="avatar bg-light-primary p-50 m-0">
                <div class="avatar-content">

                  <i data-feather="trending-up" class="font-medium-5"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="card">
            <div class="card-header">
              <div>
                <h2 class="fw-bolder mb-0"><%= widgets.player  %></h2>
                <p class="card-text">Player</p>
              </div>
              <div class="avatar bg-light-success p-50 m-0">
                <div class="avatar-content">
                  <i data-feather='users' class="font-medium-5"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="card">
            <div class="card-header">
              <div>
                <h2 class="fw-bolder mb-0"><%= widgets.voucher  %> </h2>
                <p class="card-text">Voucher</p>
              </div>
              <div class="avatar bg-light-danger p-50 m-0">
                <div class="avatar-content">
                  <i data-feather="box" class="font-medium-5"></i>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="card">
            <div class="card-header">
              <div>
                <h4 class="fw-bolder " style="margin-bottom: 5px;"><%= widgets.revenue %> </h4>
                <p class="card-text">Pendapatan</p>
              </div>
              <div class="avatar bg-light-warning p-50 m-0">
                <div class="avatar-content">
                  <i data-feather="dollar-sign" class="font-medium-5"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ Stats Horizontal Card -->



      <div class="row match-height ">

        <div class="col-md-4">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <h4 class="card-title">Status Transaksi</h4>
              <small class=" text-white-50 ">Bulan ini</small>
            </div>
            <div class="card-body">
              <div id="product-order-chart" data-chart="<%= JSON.stringify(topup?.data) %>"></div>
              <div class="d-flex justify-content-between mb-1">
                <div class="d-flex align-items-center">
                  <i data-feather="circle" class="font-medium-1 text-success"></i>
                  <span class="fw-bold ms-75">Selesai</span>
                </div>
                <span><%= topup?.count?.success %> </span>
              </div>
              <div class="d-flex justify-content-between mb-1">
                <div class="d-flex align-items-center">
                  <i data-feather="circle" class="font-medium-1 text-warning"></i>
                  <span class="fw-bold ms-75">Tertunda</span>
                </div>
                <span><%= topup?.count?.pending %> </span>
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <i data-feather="circle" class="font-medium-1 text-danger"></i>
                  <span class="fw-bold ms-75">Gagal</span>
                </div>
                <span><%= topup?.count?.failed %> </span>
              </div>
            </div>
          </div>
        </div>
        <!-- Sessions Card -->
        <div class="col-md-4">
          <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center ">
              <h4 class="my-0">Kategori</h4>
              <small class=" text-white-50">Tahun <%= year %></small>
            </div>
            <div class="card-body">
              <div id="session-chart" class="my-1" data-chart="<%= JSON.stringify(categoriesTopup?.data) %>"></div>

              <% categoriesTopup.count.map(ctt => { %>

              <div class="d-flex justify-content-between mb-1">
                <div class="d-flex align-items-center">
                  <% if(ctt.name === "Mobile") { %>
                  <i data-feather="tablet" class="font-medium-2 text-warning"></i>


                  <% } else if (ctt.name === "Desktop") { %>
                  <i data-feather="monitor" class="font-medium-2 text-primary"></i>
                  <% } else { %>
                  <i data-feather="monitor" class="font-medium-2 text-danger"></i>
                  <% } %>

                  <span class="fw-bold ms-75 me-25"><%= ctt?.name %> </span>
                  <span>- <%= ctt?.percentage %> </span>
                </div>
                <div>
                  <span><%= ctt?.count  %></span>
                  <!-- <span>2%</span>
                  <i data-feather="arrow-up" class="text-success"></i> -->
                </div>
              </div>

              <% }) %>


            </div>
          </div>
        </div>
        <!--/ Sessions Card -->
        <!-- Transaction Card -->
        <div class="col-md-4 col-12">
          <div class="card card-transaction">
            <div class="card-header">
              <h5 class="card-title">Paling Sering di Top Up</h5>

            </div>
            <div class="card-body " style="height: 410px; overflow-y: scroll;">

              <% sellingVouchers.map(sv => {  %>
              <div class="transaction-item">
                <div class="d-flex">
                  <!-- <div class="avatar bg-light-danger rounded float-start">
                    <div class="avatar-content">
                      <i data-feather="dollar-sign" class="avatar-icon font-medium-3"></i>
                    </div>
                  </div> -->
                  <div class="avatar-wrapper">
                    <div class="avatar me-50"><img src="<%= sv?.thumbnail %>" alt="Avatar" width="40" height="40"></div>
                  </div>
                  <div class="transaction-percentage">
                    <h6 class="transaction-title"><%= sv?.game_name %> </h6>
                    <small><%= sv?.category %> </small>
                  </div>
                </div>
                <div class="fw-bolder text-success"> <%= sv.count  %> </div>
              </div>
              <% }) %>


            </div>
          </div>
        </div>
        <!--/ Transaction Card -->
      </div>



      <div class="row match-height">

        <div class="col-12 col-md-12 ">
          <div class="card">
            <div class="card-header">
              <h6 class="mb-0">Transaksi terbaru</h6>

              <!-- <form action="/transaction" method="post">
                <button type="submit" class="btn btn-primary">
                  <i data-feather="plus"></i> Buat Transaksi
                </button>
              </form> -->

            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="transaction-datatable" class="table ">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>#</th>
                      <th class=" text-nowrap ">Player</th>
                      <th>Game & Item</th>
                      <th>Date</th>
                      <th>Total harga</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% let no = 1 %>
                    <% transactions && transactions.forEach(ts => { %>
                    <% const totalPrice = ts.value.toLocaleString("id", {
                        style: "currency",
                        currency: "IDR",
                      }); %>
                    <tr>
                      <td>
                        <span class=" text-primary fw-bold "><%= ts.transaction_id  %></span></td>
                      <td>
                        <% if(ts.status === 'pending' ) { %>
                        <span class="badge badge-light-warning">
                          <i data-feather='activity'></i>
                          <%= ts.status %>
                        </span>
                        <% } else if(ts.status === 'success' ) { %>
                        <span class="badge badge-light-success">
                          <i data-feather='check-circle'></i>
                          <%= ts.status %>
                        </span>
                        <% } else { %>
                        <span class="badge badge-light-danger">
                          <i data-feather='x-circle'></i>
                          <%= ts.status %>
                        </span>
                        <% } %>
                      </td>
                      <td>
                        <!-- <div class=" h-100 text-capitalize text-white ">
                          <span></span>
                          <small class=" text-white-50 text-nowrap  "></small>
                          <small>Game ID: <%= ts.account_game  %></small>
                        </div> -->
                        <div class="d-flex justify-content-left align-items-center">
                          <div class="avatar-wrapper">
                            <div class="avatar me-50"><img src="<%= ts?.player?.user?.avatar %>" alt="Avatar" width="32"
                                height="32"></div>
                          </div>
                          <div class="d-flex flex-column">
                            <h6 class="user-name text-truncate mb-0"><%= ts.name  %></h6><small
                              class="text-truncate text-muted"><%= ts?.history?.history_player?.email  %>
                            </small>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex ">
                          <img height="80" src="<%= ts?.history?.history_voucher?.thumbnail %>"
                            alt="Thumbnail <%= ts?.history?.history_voucher?.game_name %>">
                          <div class="px-1 d-flex flex-column align-items-start  ">
                            <div class="text-primary text-nowrap ">
                              <%= ts?.history?.history_voucher?.game_name %>
                            </div>
                            <div style="margin-top: 5px;">
                              <%= ts?.history?.history_voucher?.coin_quantity %>
                              <%= ts?.history?.history_voucher?.coin_name %>
                            </div>
                            <div> <span class="badge badge-light-secondary " style="margin-top: 7px;">
                                <%= ts?.history?.history_voucher?.category %>
                              </span>
                            </div>


                          </div>
                        </div>

                      </td>

                      <td class=" text-nowrap ">
                        <%= ts.created_at  %>
                      <td> <%= totalPrice %></td>

                      <td>
                        <div class=" d-flex justify-content-center w-100 ">
                          <a class="btn btn-icon rounded-circle btn-flat-primary waves-effect" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Lihat Invoice" href="/invoice/<%= ts.transaction_id %>">
                            <i data-feather="file-text"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                    <%  }); %>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- END: Content-->

<%- include('layouts/footer.ejs') %>
<script src="/js/pages/dashboard.js"></script>
<%- include('layouts/end.ejs') %>