<section>


  <div class="row">

    <div class="col-12 col-md-12 ">
      <div class="card">
        <div class="card-header">
          <h6 class="mb-0">Data Admin</h6>
          <% if(userAuth.role === "SUPER_ADMIN") { %>
          <a href="/admin/create-admin" class="btn btn-primary waves-effect">
            <i data-feather="plus"></i> Tambahkan Admin
          </a>
          <% } %>

        </div>
        <div class="card-body">
          <table id="user-datatable" class="datatables-basic table table-responsive">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th class="text-nowrap ">Username</th>
                <th>Role</th>
                <th class=" text-nowrap ">Date Join</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% let no = 1 %>
              <% users && users.forEach(adm => { %>

              <tr>
                <td><%= adm.admin_id  %></td>
                <td>
                  <div class="d-flex justify-content-left align-items-center">
                    <div class="avatar-wrapper">
                      <div class="avatar me-1"><img src="<%= adm.user.avatar %>" alt="Avatar" height="32" width="32">
                      </div>
                    </div>
                    <div class="d-flex flex-column">
                      <a href="/admin/<%= adm.admin_id %>" class="user_name text-truncate text-body">
                        <span class="fw-bolder"><%= adm.user.name %> </span></a>
                      <small class="emp_post text-muted">
                        <%= adm.user.email  %>
                      </small>
                    </div>
                  </div>

                </td>
                <td>
                  <%= adm.user.username  %>
                </td>
                <td>

                  <% if(adm.user.role.trim() == "SUPER_ADMIN") { %>
                  <span class="text-truncate align-middle">
                    <i data-feather="settings" class=" font-medium-3 text-danger me-50">
                    </i>Super Admin</span>
                  <% } else if(adm.user.role.trim() == "ADMIN") {  %>
                  <span class="text-truncate align-middle">
                    <i data-feather="slack" class=" font-medium-3 text-info me-50">
                    </i>Admin</span>
                  <% } else if(adm.user.role.trim() == "PLAYER") {  %>
                  <span class="text-truncate align-middle">
                    <i data-feather="user" class=" font-medium-3 text-primary me-50">
                    </i>Player</span>
                  <% } %>
                </td>
                <td class=" text-nowrap ">
                  <%= adm.created_at  %>
                </td>
                <td>
                  <% if(adm?.user?.status == "ACTIVE")  { %>
                  <span class="badge badge-light-success text-capitalize">Active </span>
                  <% } else if (adm?.status === "PENDING") { %>
                  <span class="badge badge-light-warning text-capitalize ">Pending</span>
                  <% } else { %>
                  <span class="badge badge-light-secondary text-capitalize">Inactive</span>
                  <% } %>
                </td>
                <td data-order="false">
                  <div class="d-flex justify-content-center">

                    <% if(!adm.is_locked ) { %>
                    <% if(userAuth.role === "SUPER_ADMIN") { %>
                    <div>
                      <button type="button"
                        class="btn btn-link-anchor btn-icon rounded-circle btn-flat-info waves-effect"
                        data-href="/admin/<%= adm.admin_id %>">
                        <i data-feather="file-text"></i>
                      </button>
                    </div>
                    <div>
                      <button type=" button"
                        class="btn btn-link-anchor btn-icon rounded-circle btn-flat-primary waves-effect"
                        data-href="/admin/<%= adm.admin_id %>/settings">
                        <i data-feather="edit"></i>
                      </button>
                    </div>
                    <button type="button" class="btn btn-icon btn-icon rounded-circle btn-flat-danger waves-effect"
                      data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-admin="<%= JSON.stringify(adm)  %>">
                      <i data-feather="trash-2"></i>
                    </button>
                    <% } %>

                    <% }else { %>
                    <div data-bs-toggle="tooltip" data-bs-placement="top" title="Terkunci">
                      <button type="button" disabled
                        class="btn btn-link-anchor btn-icon rounded-circle btn-flat-secondary waves-effect  ">
                        <i data-feather="file-text"></i>
                      </button>
                    </div>
                    <div data-bs-toggle="tooltip" data-bs-placement="top" title="Terkunci">
                      <button type=" button"
                        class="btn btn-link-anchor btn-icon rounded-circle btn-flat-secondary waves-effect  " disabled>
                        <i data-feather="edit"></i>
                      </button>
                    </div>
                    <div data-bs-toggle="tooltip" data-bs-placement="top" title="Terkunci"> <button type="button"
                        class="btn btn-icon btn-icon rounded-circle btn-flat-secondary waves-effect" disabled>
                        <i data-feather="trash-2"></i>
                      </button>
                    </div>

                    <% } %>

                  </div>
                </td>
              </tr>
              <%  }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="modal fade modal-danger text-start" data-bs-backdrop="static" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-transparent ">

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <div class=" pt-2 pb-2 px-2 d-flex flex-column align-items-center ">
          <h3 class="  mb-1">Anda yakin?</h3>
          <p class=" mb-2">Apakah anda ingin menghapusnya?</p>
          <form action="/admin" id="formDelete">

            <input type="hidden" name="_method" value="DELETE">
            <div class="d-flex gap-1">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Tidak,
                batalkan</button>
              <button type="submit" class="btn btn-danger">Ya, hapus</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>