<%- include('../../layouts/head.ejs') %>

<%- include("../../layouts/header.ejs") %>
<%- include("../../layouts/sidebar.ejs") %>

<%- include("../../includes/toast.ejs") %>

<div class="app-content content ">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper container-xxl p-0">
    <div class="content-header row">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <h2 class="content-header-title float-start mb-0"> <%= title %></h2>
            <div class="breadcrumb-wrapper">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Dashboard</a>
                </li>
                <li class="breadcrumb-item active"><%= title %>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <%- include("../../includes/content-header.ejs")  %>
    </div>
    <div class="content-body">
      <div id="user-profile">
        <!-- profile header -->
        <div class="row">
          <div class="col-12">
            <div class="card profile-header mb-2">
              <!-- profile cover photo -->
              <img class="card-img-top" src="/images/profile/timeline.jpg" alt="User Profile Image" />
              <!--/ profile cover photo -->

              <div class="position-relative">
                <!-- profile picture -->
                <div class="profile-img-container d-flex align-items-center">
                  <div class="profile-img">
                    <img src="<%= user.avatar %>" class="rounded img-fluid" alt="Card image" />
                  </div>
                  <!-- profile title -->
                  <div class="profile-title ms-3">
                    <h2 class="text-white text-capitalize "><%= user.name %></h2>
                    <p class="text-white">
                      <% if(user.role.trim() == "SUPER_ADMIN") { %>
                      <span>Super Admin</span>
                      <% } else if(user.role.trim() == "ADMIN") {  %>
                      <span>Admin</span>
                      <% } else if(user.role.trim() == "PLAYER") {  %>
                      <span>Player</span>
                      <% } %></p>
                  </div>
                </div>
              </div>

              <!-- tabs pill -->
              <div class="profile-header-nav ">
                <!-- navbar -->
                <nav class="navbar navbar-expand-md navbar-light justify-content-end justify-content-md-between w-100">
                  <button class="btn btn-icon navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i data-feather="align-justify" class="font-medium-5"></i>
                  </button>

                  <!-- collapse  -->
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="profile-tabs d-flex justify-content-between flex-wrap mt-1 mt-md-0">
                      <ul class="nav nav-pills mb-0">
                        <!-- <li class="nav-item">
                          <a class="nav-link fw-bold active" href="#">
                            <span class="d-none d-md-block">About</span>
                            <i data-feather="info" class="d-block d-md-none"></i>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link fw-bold " href="#">
                            <span class="d-none d-md-block">Feed</span>
                            <i data-feather="rss" class="d-block d-md-none"></i>
                          </a>
                        </li> -->
                      </ul>
                      <button class="btn btn-primary">
                        <i data-feather="edit" class="d-block d-md-none"></i>
                        <span class="fw-bold d-none d-md-block">Edit</span>
                      </button>
                    </div>
                  </div>
                  <!--/ collapse  -->
                </nav>
                <!--/ navbar -->
              </div>
            </div>
          </div>
        </div>
        <!--/ profile header -->

        <!-- profile info section -->
        <section id="profile-info">
          <div class="row">
            <!-- left profile info section -->
            <div class="col-lg-4 col-12 order-2 order-lg-1">
              <!-- about -->
              <div class="card">
                <div class="card-body">
                  <h5 class="mb-75">Nama pengguna:</h5>
                  <p class="card-text">
                    <%= user.username  %>
                  </p>
                  <div class="mt-2">
                    <h5 class="mb-75">Bergabung pada:</h5>
                    <p class="card-text"><%= user.created_at %> </p>
                  </div>
                  <div class="mt-2">
                    <h5 class="mb-75">Email:</h5>
                    <p class="card-text"><%= user.email %></p>
                  </div>
                  <div class="mt-2">
                    <h5 class="mb-50">Kontak:</h5>
                    <p class="card-text mb-0"><%= user.phone_number  %> </p>
                  </div>
                  <div class="mt-2">
                    <h5 class="mb-75">Alamat:</h5>
                    <p class="card-text"><%= user.full_address %></p>
                  </div>
                </div>
              </div>
              <!--/ about -->




            </div>
            <!--/ left profile info section -->

            <!-- center profile info section -->
            <div class="col-lg-8 col-12 order-1 order-lg-2">
              <!-- post 1 -->
              <div class="card">
                <h4 class="card-header">Voucher Saya</h4>
                <div class="table-responsive">
                  <table class="table datatable-project">
                    <thead>
                      <tr>
                        <!-- <th>#</th> -->
                        <th>Voucher</th>
                        <th>Total Transaksi</th>
                        <th>Kategori</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if(user?.vouchers.length !== 0) { %>

                      <% user?.vouchers.forEach(v => { %>
                      <tr>
                        <td style="width: 200px;">
                          <div class="d-flex gap-1">
                            <img height="50" src="<%= v.thumbnail  %>" alt="">
                            <%= v.game_name  %>
                          </div>
                        </td>
                        <td>
                          <%= v.count %> Transaksi
                        </td>
                        <td><%= v.category.name  %> </td>
                        <td><% if(v.status == "Y")  { %>

                          <span class="badge badge-light-success text-uppercase ">Aktif</span>
                          <% } else { %>
                          <span class="badge badge-light-danger text-uppercase ">Nonaktif</span>

                          <% } %>
                        </td>
                      </tr>
                      <% }) %>
                      <% } else { %>

                      <tr>
                        <td colspan="5">

                          <p class="text-center">Tidak ada voucher</p>

                        </td>
                      </tr>

                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
              <!--/ post 1 -->
            </div>
            <!--/ center profile info section -->


        </section>
        <!--/ profile info section -->
      </div>
    </div>
  </div>
</div>
<!-- END: Content-->




<%- include('../../layouts/footer.ejs') %>


<%- include('../../layouts/end.ejs') %>