<section>
  <div class="row">

    <div class="col-12 col-md-12 ">
      <div class="card">
        <div class="card-header">
          <h6 class="mb-0">Data Voucher</h6>

          <form action="/voucher" method="post">
            <button type="submit" class="btn btn-primary">
              <i data-feather="plus"></i> Buat Voucher
            </button>
          </form>

        </div>
        <div class="card-body">
          <table id="voucher-datatable" class="datatables-basic table table-responsive-sm">
            <thead>
              <tr>
                <th>No</th>
                <th>Gambar</th>
                <th>Game</th>
                <th>Nama Koin</th>
                <th>Kategori</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% let no = 1 %>
              <% vouchers && vouchers.forEach(vcr => { %>

              <tr>
                <td><%= no++  %></td>
                <td> <img height="80" src="<%= vcr.thumbnail  %>" alt=""> </td>
                <td><%= vcr.name  %></td>
                <td><%= vcr.gameCoinName  %></td>
                <td><%= vcr.category.name  %></td>
                <td><% if(vcr.status == "Y")  { %>
                  <span class="badge badge-light-success text-uppercase ">Aktif</span>
                  <% } else { %>
                  <span class="badge badge-light-danger text-uppercase ">Nonaktif</span>

                  <% } %>
                </td>
                <td data-order="false">
                  <form action="/voucher/<%= vcr._id %>" method="post">
                    <a href="/voucher-edit/<%= vcr._id %>"
                      class="btn btn-icon rounded-circle btn-flat-primary waves-effect">
                      <i data-feather="edit"></i>
                    </a>
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-icon btn-icon rounded-circle btn-flat-danger waves-effect">
                      <i data-feather="trash"></i>
                    </button>
                  </form>
                </td>
              </tr>
              <%  }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</section>