<%- include('../layouts/head.ejs') %>

<%- include("../layouts/header.ejs") %>
<%- include("../layouts/sidebar.ejs") %>

<div class="app-content content ">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper container-xxl p-0">
    <div class="content-header row">
      <div class="content-header-left col-md-10 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <h2 class="content-header-title float-start mb-0"><%= voucher.game_name %></h2>
            <div class="breadcrumb-wrapper">
              <ol class="breadcrumb  ">
                <li class="breadcrumb-item"><a href="/">Dashboard</a>
                </li>
                <li class="breadcrumb-item"><a href="/voucher">Voucher</a>
                </li>
                <li class="breadcrumb-item active"><%= title %>
                </li>
                <li class="breadcrumb-item active text-nowrap  "><%= voucher.game_name %>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="content-body">
      <section class="app-ecommerce-details">
        <div class="card">
          <!-- Product Details starts -->
          <div class="card-body">
            <div class="row my-2">
              <div class="col-12 col-md-5 d-flex align-items-center justify-content-center mb-2 mb-md-0">
                <div class="d-flex flex-column align-items-start justify-content-center">
                  <img src="<%= voucher.thumbnail  %>" class="img-fluid product-img mb-1" alt="product image" />
                </div>
              </div>
              <div class="col-12 col-md-7 ">
                <div class=" d-flex justify-content-between ">
                  <h2 class="mb-1"><%= voucher.game_name %></h2>
                  <div>
                    <a href="/voucher-edit/<%= voucher.voucher_id %>" class="btn btn-icon btn-primary waves-effect">
                      <i data-feather="edit"></i> <small>Edit</small>
                    </a>
                  </div>
                </div>
                <span class="card-text item-company">Kategori : <%= voucher.category.name %></span>
                <p class="card-text mt-1">
                  Status:
                  <% if(voucher.status == "Y")  { %>
                  <span class="text-success  ">Aktif</span>
                  <% } else { %>
                  <span class="text-danger  ">Nonaktif</span>
                  <% } %>
                </p>

                <hr />
                <div class="">
                  <h6>Nominal</h6>
                  <div class="d-flex flex-row  gap-1">
                    <% for (let nm of voucher.nominals) { %>
                    <div class="card  border shadow ">
                      <div class="card-body p-1">
                        <span class="d-flex">
                          <span class="fw-bolder "><%= nm.coin_quantity %></span>
                          <span class="fw-bolder" style="margin-left: 5px;"><%= nm.coin_name %> </span>
                        </span>
                        <small class="mb-50"><%= nm.description  %> </small>
                        <small class="d-block"><%= nm.price.toLocaleString("id", {
                                style: "currency",
                                currency: "IDR",
                              });  %>
                        </small>
                      </div>
                    </div>
                    <% } %>
                  </div>
                </div>


              </div>
              <div class="col-12">

              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class=" d-flex mt-auto ">
              <a href="/voucher" class=" btn btn-outline-primary ">Kembali</a>
            </div>
          </div>
          <!-- Product Details ends -->
        </div>
      </section>
    </div>
  </div>
</div>
<!-- END: Content-->

<%- include('../layouts/footer.ejs') %>
<%- include('../layouts/end.ejs') %>