<section>
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <div class="card">
        <div class="card-body d-flex align-items-center justify-content-between">
          <div>
            <h3 class="fw-bolder mb-75"><%= countUsers  %> </h3>
            <span>Total Users</span>
          </div>
          <div class="avatar bg-light-primary p-50">
            <span class="avatar-content">
              <i data-feather="user" class="font-medium-4"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card">
        <div class="card-body d-flex align-items-center justify-content-between">
          <div>
            <h3 class="fw-bolder mb-75"><%= countPlayers  %> </h3>
            <span>Player Users</span>
          </div>
          <div class="avatar bg-light-danger p-50">
            <span class="avatar-content">
              <i data-feather="user-plus" class="font-medium-4"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card">
        <div class="card-body d-flex align-items-center justify-content-between">
          <div>
            <h3 class="fw-bolder mb-75"><%= countActive  %> </h3>
            <span>Active Users</span>
          </div>
          <div class="avatar bg-light-success p-50">
            <span class="avatar-content">
              <i data-feather="user-check" class="font-medium-4"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card">
        <div class="card-body d-flex align-items-center justify-content-between">
          <div>
            <h3 class="fw-bolder mb-75"><%= countPending  %> </h3>
            <span>Pending Users</span>
          </div>
          <div class="avatar bg-light-warning p-50">
            <span class="avatar-content">
              <i data-feather="user-x" class="font-medium-4"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-12 col-md-12 ">
      <div class="card">
        <div class="card-header">
          <h6 class="mb-0">Data Users</h6>


        </div>
        <div class="card-body">
          <table id="user-datatable" class="datatables-basic table table-responsive">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th class="text-nowrap ">Username</th>
                <th>Role</th>
                <th class=" text-nowrap ">Date Join</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% let no = 1 %>
              <% users && users.forEach(usr => { %>

              <tr>
                <td><%= usr.user_id  %></td>
                <td>
                  <div class="d-flex justify-content-left align-items-center">
                    <div class="avatar-wrapper">
                      <div class="avatar me-1"><img src="<%= usr.avatar %>" alt="Avatar" height="32" width="32"></div>
                    </div>
                    <div class="d-flex flex-column">
                      <a href="<%= usr?.actions?.detail %>" class="user_name text-truncate text-body">
                        <span class="fw-bolder"><%= usr.name %></span>
                      </a>
                      <small class="emp_post text-muted">
                        <%= usr.email  %></small></div>
                  </div>
                  <!-- <div class="d-flex gap-1">
                    <img height="80" src="<%= usr.avatar  %>" alt="">
                    <%= usr.email  %>
                  </div> -->
                </td>
                <td>
                  <%= usr.username  %>
                </td>
                <td>

                  <% if(usr.role == "SUPER_ADMIN") { %>
                  <span class="text-truncate align-middle">
                    <i data-feather="settings" class=" font-medium-3 text-danger me-50">
                    </i>Super admin</span>
                  <% } else if(usr.role == "ADMIN") {  %>
                  <span class="text-truncate align-middle">
                    <i data-feather="slack" class=" font-medium-3 text-info me-50">
                    </i>Admin</span>
                  <% } else if(usr.role == "PLAYER") {  %>
                  <span class="text-truncate align-middle">
                    <i data-feather="user" class=" font-medium-3 text-primary me-50">
                    </i>Player</span>
                  <% } %>
                </td>
                <td class=" text-nowrap ">
                  <%= usr.created_at  %>
                </td>
                <td>
                  <% if(usr?.status == "ACTIVE")  { %>
                  <span class="badge badge-light-success text-capitalize">Active </span>
                  <% } else if (usr?.status === "PENDING") { %>
                  <span class="badge badge-light-warning text-capitalize ">Pending</span>
                  <% } else if (usr?.status === "SUSPENDED") { %>
                  <span class="badge badge-light-danger text-capitalize ">Suspended</span>
                  <% } else { %>
                  <span class="badge badge-light-secondary text-capitalize">Inactive</span>
                  <% } %>
                </td>
                <td data-order="false">

                  <% if(usr?.actions) { %>
                  <div class="d-flex">
                    <% if(usr?.actions?.detail) { %>
                    <a href="<%= usr?.actions?.detail %>"
                      class="btn btn-icon rounded-circle btn-flat-primary waves-effect" data-bs-toggle="tooltip"
                      data-bs-placement="top" title="Detail User">
                      <i data-feather="file-text"></i>
                    </a>
                    <% } %>
                    <!-- Suspend Toggle -->
                    <% if(usr?.actions?.suspend) { %>
                    <% if(usr.status === "ACTIVE") { %>
                    <button type="button" class="btn btn-icon btn-icon rounded-circle btn-flat-danger waves-effect"
                      data-bs-toggle="modal" data-bs-target="#suspendUser" data-bs-url="<%= usr?.actions?.suspend %>"
                      data-bs-toggle="tooltip" data-bs-placement="top" title="Suspend user">
                      <i data-feather="minus-circle"></i>
                    </button>
                    <% } else if(usr.status === "SUSPENDED") { %>
                    <form action="<%= usr?.actions?.suspend %>" method="post">
                      <input type="hidden" name="_method" value="POST">
                      <button type="submit" class="btn btn-icon btn-icon rounded-circle btn-flat-success waves-effect"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Aktifkan user">
                        <i data-feather="check-circle"></i>
                      </button>
                    </form>
                    <% } %>
                    <% } %>
                  </div>
                  <% } %>
                  <div class="d-flex">
                    <!-- <div>
                      <% if(!usr.admin) { %>
                      <a href="/users/<%= usr.user_id %>"
                        class="btn btn-icon rounded-circle btn-flat-primary waves-effect" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Detail User">
                        <i data-feather="file-text"></i>
                      </a>
                      <% } else { %>
                      <a href="/admin/<%= usr.admin?.admin_id %>"
                        class="btn btn-icon rounded-circle btn-flat-primary waves-effect" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Detail Admin">
                        <i data-feather="file-text"></i>
                      </a>
                      <% } %>

                    </div> -->
                    <!-- <% if(userAuth.user_id !== usr.user_id ) { %>

                    <% if(usr.role == "PLAYER") { %>
                    <% if(usr.status === "ACTIVE") { %>
                    <button type="button" class="btn btn-icon btn-icon rounded-circle btn-flat-danger waves-effect"
                      data-bs-toggle="modal" data-bs-target="#suspendUser" data-bs-user="<%= JSON.stringify(usr)  %>"
                      data-bs-toggle="tooltip" data-bs-placement="top" title="Suspend user">
                      <i data-feather="minus-circle"></i>
                    </button>
                    <% } else if(usr.status === "SUSPENDED") { %>
                    <form action="/users/status/<%= usr.user_id %>" method="post">
                      <input type="hidden" name="_method" value="POST">
                      <button type="submit" class="btn btn-icon btn-icon rounded-circle btn-flat-success waves-effect"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Aktifkan user">
                        <i data-feather="check-circle"></i>
                      </button>
                    </form>
                    <% } %>

                    <% } %>
                    <% } %> -->

                  </div>
                </td>
              </tr>
              <%  }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</section>


<div class="modal fade modal-danger text-start" data-bs-backdrop="static" id="suspendUser" tabindex="-1"
  aria-labelledby="suspendUserLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-transparent ">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <div class=" pt-2 pb-2 px-2 d-flex flex-column align-items-center ">
          <h3 class=" mb-1">Anda yakin?</h3>
          <p class="mb-2">Apakah anda ingin meng-suspend user ini?</p>
          <form action="/users/status" id="formSuspendUser">

            <input type="hidden" name="_method" value="POST">
            <div class="d-flex gap-1">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Tidak,
                batalkan</button>
              <button type="submit" class="btn btn-danger">Ya, hapus</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>