<%- include('../layouts/head.ejs') %>

<%- include("../layouts/header.ejs") %>
<%- include("../layouts/sidebar.ejs") %>
<%- include("../includes/toast.ejs") %>


<div class="app-content content ">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper container-xxl p-0">
    <div class="content-header row">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
          <div class="col-12">
            <h2 class="content-header-title float-start mb-0"> <%= user.user_id %> </h2>
            <div class="breadcrumb-wrapper">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Dashboard</a>
                </li>
                <li class="breadcrumb-item"><a href="/users">List Users</a>
                </li>
                <li class="breadcrumb-item active"><%= user.user_id %>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <%- include("../includes/content-header.ejs")  %>
    </div>
    <div class="content-body">
      <section class="app-user-view-account">
        <div class="row">
          <!-- User Sidebar -->
          <div class="col-xl-4 col-lg-5 col-md-5 order-1 order-md-0">
            <!-- User Card -->
            <div class="card">
              <div class="card-body">
                <div class="user-avatar-section">
                  <div class="d-flex align-items-center flex-column">
                    <img class="img-fluid rounded-circle mt-3 mb-2" src="<%= user.avatar %>" height="110" width="110"
                      alt="User avatar" />
                    <div class="user-info text-center">
                      <h4 class=" text-capitalize "><%= user.name %></h4>
                      <!-- <span class="badge bg-light-secondary">Author</span> -->
                      <% if(user.role.trim() == "SUPER_ADMIN") { %>
                      <span class="text-truncate badge bg-light-secondary align-middle">
                        Super Admin</span>
                      <% } else if(user.role.trim() == "ADMIN") {  %>
                      <span class="text-truncate badge bg-light-secondary align-middle">
                        Admin</span>
                      <% } else if(user.role.trim() == "PLAYER") {  %>
                      <span class="text-truncate badge bg-light-secondary align-middle">
                        Player</span>
                      <% } %>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-around my-2 pt-75">
                  <div class="d-flex align-items-start me-2">
                    <span class="badge bg-light-primary p-75 rounded">
                      <i data-feather="check" class="font-medium-2"></i>
                    </span>
                    <div class="ms-75 text-nowrap ">
                      <h4 class="mb-0"><%= user.transactionsCount  %> </h4>
                      <small>Transaksi</small>
                    </div>
                  </div>
                </div>
                <h4 class="fw-bolder border-bottom pb-50 mb-1">Details</h4>
                <div class="info-container">
                  <ul class="list-unstyled">
                    <li class="mb-75">
                      <span class="fw-bolder me-25">Name pengguna:</span>
                      <span><%= user.username %> </span>
                    </li>
                    <li class="mb-75">
                      <span class="fw-bolder me-25">Email:</span>
                      <span><%= user.email %></span>
                    </li>
                    <li class="mb-75">
                      <span class="fw-bolder me-25">Status:</span>
                      <!-- <span class="badge bg-light-success">Active</span> -->
                      <% if(user?.status == "ACTIVE")  { %>
                      <span class="badge badge-light-success text-capitalize">Active </span>
                      <% } else if (user?.status == "PENDING") { %>
                      <span class="badge badge-light-warning text-capitalize ">Pending</span>
                      <% } else if (user?.status == "SUSPENDED") { %>
                      <span class="badge badge-light-danger text-capitalize ">Suspended</span>
                      <% } else { %>
                      <span class="badge badge-light-secondary text-capitalize">Inactive</span>
                      <% } %>
                    </li>
                    <li class="mb-75">
                      <span class="fw-bolder me-25">Role:</span>
                      <% if(user.role.trim() == "SUPER_ADMIN") { %>
                      <span>
                        Super Admin</span>
                      <% } else if(user.role.trim() == "ADMIN") {  %>
                      <span>
                        Admin</span>
                      <% } else if(user.role.trim() == "PLAYER") {  %>
                      <span>
                        Player</span>
                      <% } %>
                    </li>
                    <!-- <li class="mb-75">
                      <span class="fw-bolder me-25">Tax ID:</span>
                      <span>Tax-8965</span>
                    </li> -->
                    <li class="mb-75">
                      <span class="fw-bolder me-25">Kontak:</span>
                      <span><%= user?.phone_number %></span>
                    </li>
                    <!-- <li class="mb-75">
                      <span class="fw-bolder me-25">Language:</span>
                      <span>English</span>
                    </li>
                    <li class="mb-75">
                      <span class="fw-bolder me-25">Country:</span>
                      <span>Wake Island</span>
                    </li> -->
                  </ul>
                </div>
              </div>
            </div>
            <!-- /User Card -->

          </div>
          <!--/ User Sidebar -->

          <!-- User Content -->
          <div class="col-xl-8 col-lg-7 col-md-7 order-0 order-md-1">
            <!-- User Pills -->
            <ul class="nav nav-pills mb-2">
              <li class="nav-item ">
                <a class="nav-link " href="/users/<%= user.user_id %>">
                  <i data-feather="user" class="font-medium-3 me-50"></i>
                  <span class="fw-bold">Akun</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/<%= user.user_id %>/security">
                  <i data-feather="lock" class="font-medium-3 me-50"></i>
                  <span class="fw-bold">Pengamanan</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active " href="/users/<%= user.user_id %>/settings">
                  <i data-feather="settings" class="font-medium-3 me-50"></i>
                  <span class="fw-bold">Pengaturan</span>
                </a>
              </li>

            </ul>
            <!--/ User Pills -->

            <div class="row">
              <div class="col-12">
                <!-- profile -->
                <div class="card">
                  <div class="card-header border-bottom">
                    <h4 class="card-title">Pengaturan Admin</h4>
                  </div>
                  <div class="card-body py-2 my-25">
                    <!-- header section -->
                    <!--/ header section -->

                    <form id="form-action-user" class=" row gy-1 pt-75"
                      action="/users/<%= user.user_id %>/settings?_method=POST" method="post"
                      enctype="multipart/form-data">
                      <!-- <input type="hidden" name="_method" value="PUT"> -->
                      <div class="d-flex col-md-12">
                        <a href="#" class="me-25">
                          <img src="<%= user.avatar %>" id="account-upload-img"
                            class="uploadedAvatar rounded me-50 object-fit-cover" alt="profile image" height="100"
                            width="100" />
                        </a>
                        <!-- upload and reset button -->
                        <div class="d-flex align-items-end mt-75 ms-1">
                          <div>
                            <label for="account-upload" class="btn btn-sm btn-primary mb-75 me-75">Upload</label>
                            <input type="file" id="account-upload" hidden accept="image/*" name="image" />
                            <button type="button" id="account-reset"
                              class="btn btn-sm btn-outline-secondary mb-75">Reset</button>
                            <p class="mb-0">Allowed file types: png, jpg, jpeg.</p>
                          </div>
                        </div>
                        <!--/ upload and reset button -->
                      </div>
                      <div class="col-12 col-md-6">
                        <label class="form-label" for="name">Nama lengkap</label>
                        <input type="text" id="name" name="name" class="form-control" placeholder="Admin name"
                          value="<%= user.name %>" data-msg="Masukan nama lengkap" />
                      </div>
                      <div class="col-12 col-md-6">
                        <label class="form-label" for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control"
                          value="<%= user.username  %>" placeholder="<%= user.username  %>" />
                      </div>
                      <div class="col-12 col-sm-6">
                        <label class="form-label" for="phone_number">Phone Number</label>
                        <input type="text" class="form-control account-number-mask" id="phone_number"
                          name="phone_number" placeholder="Phone Number" value="<%= user.phone_number %>" />
                      </div>
                      <div class="col-12 col-md-6">
                        <label class="form-label" for="status">Status</label>
                        <select id="status" name="status" class="select2 form-select">
                          <option selected value="">Status</option>
                          <% status.forEach(s => {  %>
                          <option class=" text-capitalize " value="<%= s.value %>"
                            <%= s.selected ? "selected" : null %>><%= s.name %>
                          </option>
                          <% }) %>
                        </select>
                      </div>
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary mt-1 me-1">Simpan perubahan</button>
                      </div>
                    </form>
                  </div>
                </div>
                <!--/ profile -->
              </div>
            </div>

          </div>
          <!--/ User Content -->
        </div>
      </section>


    </div>
  </div>
</div>
<!-- END: Content-->


<%- include('../layouts/footer.ejs') %>
<script src="/js/pages/user-settings.js"></script>
<%- include('../layouts/end.ejs') %>