<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item me-auto">
        <a class="navbar-brand" href="">
          <span class="brand-logo">
            <img height="32" src="/images/logo-dark.svg" alt="">
          </span>
          <h2 class="brand-text">StoreGG</h2>
        </a>
      </li>
      <li class="nav-item nav-toggle">
        <a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><i
            class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x">
          </i>
          <i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc"
            data-ticon="disc">
          </i>
        </a>
      </li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content pb-2">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class="nav-item <%= path == "/" ? "active" : ""%>  ">
        <a class="d-flex align-items-center" href="/">
          <i data-feather="home"></i><span class="menu-title text-truncate">Dashboard
          </span>
        </a>
      </li>

      <li class=" navigation-header"><span>Profile</span><i data-feather="more-horizontal"></i>
      </li>
      <li class="nav-item <%= path == "/profile" ? "active" : ""%>">
        <a class="d-flex align-items-center " href="/profile">
          <i data-feather="user"></i><span class="menu-title text-truncate">Profile</span>
        </a>
      </li>
      <li class="nav-item"><a class="d-flex align-items-center" href="/chat">
          <i data-feather="message-square"></i><span class="menu-title text-truncate">Chat</span></a>
      </li>
      <li class=" navigation-header"><span>Master</span><i data-feather="more-horizontal"></i>
      </li>
      <li class=" nav-item">
        <a class="d-flex align-items-center" href="#"><i data-feather="users"></i>
          <span class="menu-title text-truncate">User</span></a>
        <ul class="menu-content">
          <li class="<%= path == "/users" ? "active" : ""%>">
            <a class="d-flex align-items-center" href="/users">
              <i data-feather="circle"></i>
              <span class="menu-item text-truncate">
                User
              </span>
            </a>
          </li>
          <li class="<%= path == "/admin" ? "active" : ""%>">
            <a class="d-flex align-items-center" href="/admin">
              <i data-feather="circle"></i>
              <span class="menu-item text-truncate">
                Admin
              </span>
            </a>
          </li>

        </ul>
      </li>
      <li class="nav-item <%= path == "/category" ? "active" : ""%>">
        <a class="d-flex align-items-center " href="/category">
          <i data-feather="monitor"> </i>
          <span class="menu-title text-truncate">Kategori</span>
        </a>
      </li>
      <li class="nav-item <%= path == "/nominal" ? "active" : ""%>">
        <a class="d-flex align-items-center " href="/nominal">
          <i data-feather='percent'></i>
          <span class="menu-title text-truncate">Nominal</span>
        </a>
      </li>
      <li class="nav-item <%= path == "/voucher" ? "active" : ""%>">
        <a class="d-flex align-items-center " href="/voucher">
          <i data-feather='grid'></i>
          <span class="menu-title text-truncate">Voucher</span>
        </a>
      </li>

      <li class=" navigation-header"><span>Payment</span><i data-feather="more-horizontal"></i>
      </li>
      <li class="nav-item  <%= path == "/bank" ? "active" : ""%>">
        <a class="d-flex align-items-center" href="/bank">
          <i data-feather='credit-card'></i>
          <span class="menu-title text-truncate">Bank</span>
        </a>
      </li>
      <li class="nav-item  <%= path == "/payment" ? "active" : ""%>">
        <a class="d-flex align-items-center" href="/payment">
          <i data-feather='dollar-sign'></i>
          <span class="menu-title text-truncate">Metode Pembayaran</span>
        </a>
      </li>
      <li class=" navigation-header"><span>Transaksi</span><i data-feather="more-horizontal"></i>
      </li>
      <li class="nav-item <%= path == "/transaction" ? "active" : ""%>">
        <a class="d-flex align-items-center" href="/transaction">
          <i data-feather="file-text"> </i>
          <span class="menu-title text-truncate">Transaksi</span>
        </a>
      </li>
      <li class=" navigation-header"><span>Management</span><i data-feather="more-horizontal"></i>
      </li>
      <li class=" nav-item"><a class="d-flex align-items-center" href="#"><i data-feather="shield"></i><span
            class="menu-title text-truncate">Roles &amp; Permission</span></a>
        <ul class="menu-content">
          <li><a class="d-flex align-items-center" href="app-access-roles.html"><i data-feather="circle"></i><span
                class="menu-item text-truncate">Roles</span></a>
          </li>
          <li><a class="d-flex align-items-center" href="app-access-permission.html"><i data-feather="circle"></i><span
                class="menu-item text-truncate">Permission</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- END: Main Menu-->