<%- include('../layouts/auth/head.ejs') %>

<!-- BEGIN: Content-->
<div class="app-content content ">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <div class="auth-wrapper auth-cover">
        <div class="auth-inner row m-0">
          <!-- Brand logo--><a class="brand-logo" href="index.html">
            <h2 class="brand-text text-primary ms-1">StoreGG</h2>
          </a>
          <!-- /Brand logo-->
          <!-- Left Text-->
          <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
            <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
              <img class="img-fluid" src="/images/login-v2-dark.svg" alt="Login V2" /></div>
          </div>
          <!-- /Left Text-->
          <!-- Login-->
          <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
            <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
              <h2 class="card-title fw-bold mb-1">Welcome to StoreGG Dashboard! </h2>
              <p class="card-text mb-2">Please sign-in to your account and start the adventure</p>
              <%- include("../includes/flashdata.ejs")  %>

              <% if(errors && errors?.name !== "BAD_VALIDATION") {  %>
              <div class="alert alert-danger mt-1 alert-validation-msg" role="alert">
                <div class="alert-body d-flex align-items-center">
                  <i data-feather="info" class="me-50"></i>
                  <%= errors?.message %>
                </div>
              </div>
              <% } %>
              <form class="auth-login-form mt-2" action="/auth" method="POST">
                <div class="mb-1">
                  <label class="form-label" for="email">Email</label>
                  <input class="form-control" id="email" type="text" name="email" placeholder="admin@example.com"
                    autofocus="" tabindex="1" value="<%= values && values?.email || "" %>" />
                  <% if(errors && errors?.validation?.email) {  %>
                  <small class=" text-danger "> <%= errors?.validation?.email?.message[0] %></small>
                  <% } %>
                </div>
                <div class="mb-1">
                  <div class="d-flex justify-content-between">
                    <label class="form-label" for="password">Password</label><a
                      href="auth-forgot-password-cover.html"><small>Forgot Password?</small></a>
                  </div>
                  <div class="input-group input-group-merge form-password-toggle">
                    <input class="form-control form-control-merge" id="password" type="password" name="password"
                      placeholder="路路路路路路路路路路路路" tabindex="2" value="<%= values && values?.password || "" %>" /><span
                      class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                  </div>
                  <% if(errors && errors?.validation?.password) {  %>
                  <small class=" text-danger "> <%= errors?.validation?.password?.message[0] %></small>
                  <% } %>
                </div>
                <!-- <div class="mb-1">
                  <div class="form-check">
                    <input class="form-check-input" id="remember-me" type="checkbox" tabindex="3" />
                    <label class="form-check-label" for="remember-me"> Remember Me</label>
                  </div>
                </div> -->
                <button class="btn btn-primary w-100" type="submit" tabindex="4">Sign in</button>
              </form>

            </div>
          </div>
          <!-- /Login-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Content-->




<%- include('../layouts/auth/footer.ejs') %>